html, body {
    margin: 0;
    padding: 0;
    background-color: #202124;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.nav-links-container {
    position: absolute;
    top: 18px;
    right: 15px;
}

.nav-links-container a {
    text-decoration: none;
    color: white;
}

.nav-links-container a:hover {
    text-decoration: underline;
}   

.header-container-as {
    display: flex;
    padding-bottom: 5px; /* Space between text and line */
    border-bottom: 1px solid black; /* Green line, 2px thick */
}

.header-container-as h2 {
    color: rgb(157, 146, 225);
    margin-top: 90px;
    margin-left: 45px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: lighter;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px; /* Adjust according to your header size */
    width: 60%; /* Adjust based on your preference */
    margin-left: 15px;
    margin-right: auto;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
    min-width: 200px;
    text-align: left;
    color: white;
}

input[type="text"] {
    width: 100%; /* Make inputs take full width of their container */
    padding: 8px;
    margin: 10px; /* Add some vertical space between inputs */
    border: 1px solid #555454; /* Subtle border */
    flex-grow: 1; /* Allows input to expand to fill available space */
    background-color: #202124;
}

.button-as {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0b7df0; /* Light background */
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: .5px .5px 1px #0863be;
}
button:hover {
    background-color: #0863be
}

input[type="text"]:focus {
    outline: none;  /* Removes the default outline */
    border: .5px solid rgb(59, 112, 218); /* Example: changes the border color to green */
    color: white;
}