html, body {
    margin: 0;
    padding: 0;
    background-color: #202124;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.nav-links-container {
    position: absolute;
    top: 18px;
    right: 15px;
}

.nav-links-container a {
    text-decoration: none;
    color: white;
}

.nav-links-container a:hover {
    text-decoration: underline;
}   

.header-container-as {
    display: flex;
}

.header-container-as h1 {
    color: palevioletred;
    margin-left: 15px;
    margin-top: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px; /* Adjust according to your header size */
    width: 60%; /* Adjust based on your preference */
    margin-left: 15px;
    margin-right: auto;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
    min-width: 200px;
    text-align: left;
    color: white;
}

input[type="text"] {
    width: 100%; /* Make inputs take full width of their container */
    padding: 8px;
    margin: 10px; /* Add some vertical space between inputs */
    border: 1px solid black; /* Subtle border */
    border-radius: 10px; /* Slightly rounded corners for modern look */
    flex-grow: 1; /* Allows input to expand to fill available space */
}

.button-as {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f8f9fa; /* Light background */
    border: 1px solid #dcdcdc; /* Subtle border */
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #f1f3f4; /* Slight change on hover for feedback */
}